/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {
  .buttons-wrapper button {
    padding: 6px 10px;
  }
  .contact-details {
    height: 230px !important;
  }
  .confirm-title, .confirm-title+.row {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .info-items.list-inline li:last-child {
    display: none;
  }
  .passenger-individual {
    height: 250px !important;
  }
  .passenger-individual select, #contact-select {
    margin-left: -4px !important;
  }
}

@media (width: 768px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .links-footer {
    text-align: center;
  }
  .links-tile {
    margin-top: 20px;
  }
  .company-tile {
    margin-top: 10px;
  }
  .booking-wrapper, .results-wrapper {
    padding: 10px !important;
  }
  .contact-details {
    height: 230px;
  }
  .flights-table th:first-child, .flights-table th:nth-child(6), .flights-table td:first-child, .flights-table td:nth-child(6) {
    display: none;
  }
  table.flights-table td, table.flights-table th {
    padding: 10px 0;
    font-size: 12px;
  }
  /* .passenger-details-wrapper {
    margin-top: 20px !important;
  } */
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  ul.list-inline {
    text-align: center;
    line-height: 30px;
  }
  .mid-header-wrapper {
    text-align: center;
  }
  .airlines-tile {
    padding-left: 0;
  }
  .airlines-tile, .payments-tile {
    margin-top: 20px;
  }
  .booking-wrapper, .results-wrapper {
    padding: 0;
  }
  .contact-details {
    height: 155px;
  }
  ul.info-items li.airline-img {
    display: none !important;
  }
  .info-items.list-inline li {
    background-image: none !important;
    padding: 0 3px;
  }
  /* .passenger-details-wrapper {
    margin-top: -210px;
  } */
  .passenger-individual {
    height: 100px;
  }
  .passenger-individual > div > div.row.inputs-wrapper {
    padding-left: 15px;
  }
  .passenger-individual > div > div.row.inputs-wrapper > div:first-child {
    padding-left: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}
