.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
header {
  background-color: #b91431;
  min-height: 40px;
}
header > .container, header > .container > .row {
  height: 100%;
}
ul.list-inline {
  margin-bottom: 0;
  line-height: 40px;
}
ul.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
  color: #d8d8d8;
}
#links {
  text-align: right;
}
#links > ul li a {
  color: #d8d8d8;
}
li.main-item a{
  text-transform: uppercase;
  color: #fff !important;
  text-decoration: none;
}
.main-body {
  background-color: #f6f6f6;
}
.mid-header-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
img.main-logo {
  width: 200px;
}
section.bottom-header {
  border-bottom: 1px solid #ececec;
}
section.main-body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.buttons-wrapper {
  padding: 0;
}
.buttons-wrapper button {
  border-radius: 0;
  font-size: 15px;
  text-transform: uppercase;
  padding: 6px 20px;
}
.form-wrapper {
  background-color: #e2e6ea;
}
.info-wrapper {
  background-color: #efefef;
}
.form-wrapper, .info-wrapper {
  padding: 30px;
}
div.return-date {
  display: none;
}
.buttons-wrapper .btn:focus, .buttons-wrapper .btn:active {
   outline: none !important;
   box-shadow: none;
}
.active-btn, .active-btn:hover {
  background-color: #b71431;
  border-color: #b71431;
  outline: 0;
}
.way-btn, .way-btn:hover, .change-btn, .change-btn:hover {
  background-color: #efefef;
  border-color: #efefef;
  outline: 0;
  color: #212529;
}
.info-wrapper > h1 {
  font-size: 1.8em;
}
form.flight-form label {
  text-transform: uppercase;
  font-size: 14px;
}
form.flight-form .form-control {
  border-radius: 0;
  -webkit-appearance: none;
}
form.flight-form .form-control:focus {
  box-shadow: none;
  outline: 0;
}
form.flight-form input, form.flight-form select {
  text-transform: uppercase;
  font-size: 14px;
}
form.flight-form input {
  padding: 8px;
}
form.flight-form button {
  text-transform: uppercase;
  padding: 4px 30px;
  border-radius: 0;
}
footer {
  padding: 40px 0;
  background-color: #fff;
}
footer h3 {
  font-size: 14px;
  text-transform: uppercase
}
.footer-tile:first-child {
  padding-left: 0;
}
ul.footer-menu {
  list-style: none;
  padding-left: 0;
}
ul.footer-menu li {
  line-height: 30px;
}
ul.footer-menu li a {
  color: #4f5255;
  text-decoration: none;
  font-size: 15px;
}
ul.footer-menu li img {
  height: 25px;
}
ul.footer-menu.partner-airlines li, ul.footer-menu.payment-partners li {
  line-height: 38px;
}
section.bottom-footer {
  border-top: 1px solid #ededed;
}
.footer-text-wrapper {
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  color: #545454;
}
.change-active {
  background-color: #403e3c;
  color: #f1f1f1;
  border-color: #403e3c;
}
.filter-section {
   display: none;
}
.search-title {
  padding: 20px 0;
}
.search-btn, .search-btn:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
}
.search-title > h2{
  font-size: 23px;
  color: #292929;
}
.booking-wrapper h3 {
  font-size: 23px;
  /* padding-bottom: 10px; */
}
.summary-wrapper h4 {
  text-transform: uppercase;
  font-size: 15px;
}
.summary-wrapper ul {
  list-style: none;
  padding-left: 0;
}
ul.booking-summary li {
  font-size: 13px;
  line-height: 20px;
}
ul.booking-summary li > span:nth-child(2) {
  float: right;
}
ul.booking-summary li.total-item {
  font-weight: 600;
  border-top: 1px solid #656565;
}
.results-wrapper {
  padding-left: 0;
}
.title-section {
  background-color: #fff;
  padding: 12px;
}
.title-section > h4 {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 0;
}
.title-section > span {
  font-size: 14px;
  margin-left: 10px;
}
.return-flights {
  margin-top: 25px;
}
.hide-total {
  display:none;
}
.book-now-btn {
  padding: 5px 20px;
  background-color: #b71431;
  border-color: #b71431;
  outline: 0;
  border-radius: 0;
  font-size: 15px;
}
.grand-total ul li {
  line-height: 25px;
}
.flights-table {
  background-color: #fff;
}
table.flights-table {
  font-size: 14px;
  text-align: center;
  /* letter-spacing: -0.6px; */
}
table.flights-table thead {
  background-color: #b71431;
  color: #fff;
  border-color: #b71431;
}
table.flights-table th {
  font-weight: 600;
  border-top: 2px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
table.flights-table td {
  font-weight: 600;
  vertical-align: middle;
  border-bottom: 1px solid #efefef;
  font-size: 13px;
  letter-spacing: -0.5px;
}
table.flights-table td img {
  height: 22px;
  border-radius: 50%;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(255, 9, 9, 0.05);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 1);
}

/** checkbox css **/
.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
select::-ms-expand {
  display: none;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #b71431;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border-color: #b71431;
}
.inp-cbx:checked + .cbx span:first-child {
  background: #b71431;
  border-color: #b71431;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
.dept-common-wrapper {
  display:none;
}
/** checkbox css ends **/
.tootltip {
  width: 400px;
}
.fare-breakup {
  cursor: pointer;
}
.fare-breakup-wrapper {
  display: none;
}
.datepicker-days table th {
  font-weight: 600;
}
/** booking confirm **/
.confirm-title h2 {
  font-size: 25px;
  padding-bottom: 15px;
}
.departure-info {
  padding-bottom: 20px;
}
.return-info, .payments-info, .passenger-info {
  margin-top: 20px;
  padding-bottom: 20px;
}
.card-title {
  font-weight: 600;
  background: #b91532;
  color: #fff;
  padding: 10px 20px;
}
.info-title-section h4{
  display: inline-block;
  font-size: 17px;
  text-transform: uppercase;
  color: #0c7e7d;
}
.info-title-section > span {
  margin-left: 5px;
  font-size: 15px;
}
.info-items.list-inline {
  display: flex;
  overflow: auto;
}
.info-items.list-inline li {
  width: 100%;
  text-align: center;
  color: #0c7e7d;
  line-height: 20px;
  background-image: url('../images/arrow.png');
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 0 30px;
  background-position: right;
}
.info-items.list-inline li:first-child, .info-items.list-inline li:last-child {
  background-image: none;
  padding: 0;
}
.info-items.list-inline li:last-child {
  padding-top: 10px;
}
.payment-info ul li img {
  height: 40px;
}
li.card-info-title {
  background: #e7e7e7;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: -0.3px;
  color: #017f7e;
  padding: 10px;
}
li.card-info-title:hover {
  border-color: rgb(231, 231, 231);
}
#booking-summary-title {
  visibility: hidden;
}
li.airline-img {
  width: 10% !important;
}
li.airline-img img {
  width: 40px;
}
.passengers-wrapper {
  color: #017f7e;
  letter-spacing: -0.5px;
}
.content-item {
  padding: 10px;
}
.passengers-wrapper h4 {
  font-size: 17px;
}
.passengers-wrapper label, .passengers-wrapper select, .passengers-wrapper input {
  color: #495057;
  font-size: 12px;
  padding: 0;
}
.passengers-wrapper label, .passengers-wrapper select, .passengers-wrapper input, .passengers-wrapper input:focus, .passengers-wrapper select:focus {
  border: none;
  border-bottom: 1px solid #aeaeae;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
}
.passengers-wrapper select {
  height: 20px !important;
}
.inputs-wrapper {
  padding: 5px 10px 0px 10px;
  height: 35px;
}
input::-webkit-input-placeholder {
  color: #495057 !important;
}
input::-moz-placeholder {
  color: #495057 !important;
}
input:-ms-input-placeholder {
  color: #495057 !important;
}
input::placeholder {
  color: #495057 !important;
}
.common-input {
  padding-top: 4px;
}
.pl-five {
  padding-left: 5px !important;
}
.row.contact-input-wrapper {
  padding: 0 10px;
}
.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
  margin-right: 15px;
  padding-top: 5px;
}
/** booking confirm **/
